## _Import Libraries_

In [1]:
import pandas as pd

## _Read in the data_

In [3]:
file1 = pd.read_csv('qualityOfLifeIndex.csv').drop(columns=['Rank'])
file2 = pd.read_csv('costOfLivingIndex.csv').drop(columns=['Rank'])

display(file1.head(3), file2.head(3))

,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,Switzerland,190.82,110.96,78.65,74.47,131.75,8.42,28.73,20.09,80.05
1,Denmark,190.01,94.73,73.28,79.96,91.67,6.66,28.69,20.40,81.80
2,Netherlands,183.31,83.89,72.78,75.76,78.64,7.35,27.81,25.28,87.11

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,Bermuda,145.07,92.86,120.13,141.77,157.70,83.43
1,Switzerland,131.75,55.05,95.10,133.36,126.08,110.96
2,Norway,106.09,36.18,72.68,100.59,105.90,79.43

### _merge appropriately_

In [22]:
merged_df = pd.merge(file1.drop(columns = ['Purchasing Power Index', 'Cost of Living Index']), 
                     file2.drop(columns = ['Cost of Living Plus Rent Index']), 
                     on=['Country'], 
                     how='outer'
                    ).fillna(0).reset_index(drop=True)

display(merged_df)

,Country,Quality of Life Index,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Cost of Living Index,Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,Switzerland,190.82,78.65,74.47,8.42,28.73,20.09,80.05,131.75,55.05,133.36,126.08,110.96
1,Denmark,190.01,73.28,79.96,6.66,28.69,20.40,81.80,91.67,36.18,72.62,104.92,94.73
2,Netherlands,183.31,72.78,75.76,7.35,27.81,25.28,87.11,78.64,39.31,61.63,81.62,83.89
3,Finland,182.79,72.99,76.40,8.64,28.96,11.86,56.64,77.46,28.04,65.60,81.22,89.05
4,Austria,182.37,74.77,78.40,10.40,25.68,19.20,77.79,75.49,28.42,67.62,70.98,78.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Zambia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,28.06,6.75,27.12,16.18,59.47
134,Uzbekistan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,27.12,8.06,23.91,21.43,21.96
135,Afghanistan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,26.33,3.85,19.30,16.98,26.58
136,Kyrgyzstan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22.98,7.43,20.57,19.19,22.01
137,Libya,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22.32,5.68,25.30,13.31,31.81

_Export as single file_

In [23]:
merged_df.to_csv('costOfLiving_tampered.csv')